<div style="display: flex; flex-direction: row; justify-content: right; flex-wrap: wrap-reverse">
{{#each articles}}
   <div class="col-sm-4"style="border-style: dashed ">
      <h1>{{this.title}}</h1>
      <br>
      
      <div>https://pitchfork.com{{this.link}}</div>
      
      <button class="btn btn-outline-secondary" type="button" id="button-addon1">Submit</button>
      <input type="text" class="form-control col-sm-4" placeholder="Leave a note" aria-label="Example text with button addon" aria-describedby="button-addon1">   
   </div>
   <br>
{{/each}}
</div>