<div class="container" style="display: flex; flex-direction: row; justify-content: start; flex-wrap: wrap">
   {{#each articles}}
   <div class="col-sm-6" style="border: black 1px solid">
      <h1>{{this.title}}</h1>
      <a href=https://pitchfork.com{{this.link}}>https://pitchfork.com{{this.link}}</a> 
      
      <button style="float: right" type="button" class="btn btn-primary">Leave a note</button>
   </div>
   {{/each}}
</div>