<div class="container" style="background-color: #9eb7f7; border: black 2px solid; display:float">

    <h1>Yo!</h1>
    <h2>Let's scrape.</h2>

    <button id="startScrape"><a href="/scrape">scrape pitchfork.com</a></button>

    <button><a href="/articles">See scraped articles</a></button>
</div>